
/* import font type */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root{
  --main-color: #26282B;
  --secondary-color: #ffffff;
  --accent-color: #8F2400;
  --page-width: 8.5in;
  --pagedjs-margin-top: 0.8in;
  --pagedjs-margin-right: 0.8in;
  --pagedjs-margin-bottom: 0.8in;
  --pagedjs-margin-left: 0.8in;
  --root-font-size: 11pt;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131;
  --decorator-horizontal-margin: 0;
  --row-blocks-padding-top: 0;
  --date-block-width: 0.6in;
  --main-blocks-title-icon-offset-left: calc(-17pt - 0.25 * var(--root-font-size));
}

@page{
  size: letter portrait;
  margin-top: var(--pagedjs-margin-top);
  margin-right: var(--pagedjs-margin-right);
  margin-bottom: var(--pagedjs-margin-bottom);
  margin-left: var(--pagedjs-margin-left);
}

/* Paged.js viewer */
@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
    width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}

@media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}

body {
    font-family: sans-serif;
    font-size: var(--root-font-size);
    color: var(--main-color);
    background-color: var(--secondary-color);
    line-height: 1.4;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

b {
  color: var(--accent-color);
}

h1.title {
  font-family: sans-serif;
  font-weight: 300;
  font-size: calc(3 * var(--root-font-size));
  margin-top: 0px;
  margin-bottom: 0px; 
  padding-bottom: 0px;
}

h2 {
  display: flex;
  flex-direction: row;
  margin-block-end: 0.3em;
  break-after: avoid;
}

h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid 	#8d9094;
  margin: auto auto 0.6rem 0.2rem;
}

h2, h3, h4 + p {
  orphans: 4;
}

h3, h4 {
  break-after: avoid;
}

#publications h4 {
  margin-block-start: 0.3em;
  margin-block-end: 0.65em;
}

#profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#address {
  width: 65%;
  margin-right: auto;
  vertical-align: top;
  text-align: left;
}

#social {
  width: 34%;
  margin-left: auto;
  vertical-align: top;
  text-align: right;
}

#disclaimer {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.1;
  text-align: right;
  color: #777;
}

#teaching {
  text-align: justify; 
  text-align-last: left;
}

#teaching ul {
  margin-block-start: 0.4em;
}

.cv-chunk {
  break-inside: avoid;
  break-after: auto;
}

.break-after-me {
  break-after: page;
}

table {
  width: 100%;
}

tr {
  border: 0;
  /* don't make page breaks inside a table row */
  break-inside: avoid;
  break-after: auto;
}

td {
  padding-bottom: 0.75rem;
}

#social svg {
  width: 1.1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.1em;
}

#main svg {
  padding-right: 0.3em;
}

/*
Hierarchy: 

blocks 
  |--> block-year
          |--> block-row = {date + details}
          |--> block-row
  |--> block-year
          |--> block-row
          |--> block-row
          
This makes it easier to handle page breaks and CSS styling.
*/

.blocks {
  margin-top: 1em;
  margin-bottom: 0.75rem;
}

/* hide all dates in block year except the first one */
.block-year .block-row:not(:first-child) .date p {
  display: none;
}

.block-row {
  display: flex;
  flex-flow: row nowrap;
  break-inside: avoid;
  padding-bottom: 1rem;
  vertical-align: top;
  align-items: start;
}

.blocks p {
  margin: 0;
  padding: 0;
  vertical-align: top;
  line-height: 1.4;
}

.date{
  flex: 0 0 var(--date-block-width);
  padding-top: var(--row-blocks-padding-top) !important;
  padding-right: var(--decorator-horizontal-margin);
  text-align: left;
  line-height: 1;
  max-width: var(--date-block-width);
  vertical-align: top;
  top: 0;
}

.details{
  text-align: justify;
  text-justify: inter-word;
  vertical-align: top;
  top: 0;
}
